/* Catalog print stylesheet */

body {
    background-color: #FFFFFF !important;
	border: none;
}

#bannerSub, #leftpanel, #photos, .brdr, #printpage-holder, #clear, #silverhills, #footerwrapper, img, header, footer, .ui-tabs .ui-tabs-nav {
	display:none;
	}
	
.ui-tabs .ui-tabs-hide {
	display: block !important;
}

.interior {
	padding-top: 0;
}

#rightpanel{
	margin:0;
	width: 700px;
	max-width: 100%;
	}

#rightpanel #main {
	min-height: 0px;
	width: 700px;
	max-width: 100%;
}

table{
	margin:6pt;
	font-size: 10pt;
}

a{ 
	color:black !important;
}

*{
	font-family: Arial,Verdana,sans-serif;
	color:black !important;
}
 
h1,.titlepage{
	font-size:16pt !important;
}
 
h2,.titlesmall{
	font-size:14pt !important;
}

h3{
    font-size:12pt !important;
}

h4,.subheading,.coursetitle{
	font-size:10pt !important;
}

.subheading2 {
	font-size:10pt !important;
	font-style: emphasis !important;
}

.subheading3 {
	font-size:10pt !important;
	font-style: emphasis !important;
}
	
p{
	font-size: 10pt !important;
}
	
.coursetitle{
	font-weight:bold;
}

span.mc_link {
	display: none;
}

#breadcrumb, #breadcrumbs, #breadcrumbs p {
	display: none;
}

iframe #scWebEditRibbon .scWebEditRibbon .scFixedRibbon {
	display: none;
}

form {
	clear: both !important;
}

div.ui-dialog {
	display: block !important;
	position: static !important; 
	border: none;
    background-color: #FFFFFF !important;
}

div.ui-dialog-titlebar {
	border: none;
    background-color: #FFFFFF !important;
    background-image: none !important;
}

.ui-dialog .ui-widget .ui-widget-content .ui-corner-all  .ui-draggable .ui-resizable {
        border: none;
        background-color: #FFFFFF !important;

}

#sc-top-links .print, #sc-rightpanel-top {
    display: none !important;
}

#footer, #bottom {
    display: none !important;
}

#pagewrapper2, #pagewrapper1 {
    background-image: none;
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

#sc-childlinks {
	display: none;
}

#sc-parentlink {
	display: none;
}

#rightpanel {
	float: left;
	margin-left: 0px; 
	padding-left: 0px;
}

#bannerright, #banner {
	display: none;
}

area, .toc, #navLocal {
	display: none;
}

#pagewrapper2 {
	float: left;
	margin-left: 0px;
	padding-left: 0px;
}

#audienceNewRight2 {
	float: left;
	margin-left: 0px;
	padding-left: 0px;
}

#nav {
    display: none;
}

 a[href]:after {
    display: none;
  }
  
  
.sc-childlinks {
	display: none;
}

.sc-parentlink {
	display: none;
}
